<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (chat(); as chatRef) {
      <div>
        <h2 data-cy="chatDetailsHeading"><span>Chat</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ chatRef.id }}</span>
          </dd>
          <dt><span>Contact Id</span></dt>
          <dd>
            <span>{{ chatRef.contactId }}</span>
          </dd>
          <dt><span>Contact</span></dt>
          <dd>
            <span>{{ chatRef.contact }}</span>
          </dd>
          <dt><span>Unread Count</span></dt>
          <dd>
            <span>{{ chatRef.unreadCount }}</span>
          </dd>
          <dt><span>Muted</span></dt>
          <dd>
            <span>{{ chatRef.muted }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ chatRef.title }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ chatRef.type }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ chatRef.createdAt }}</span>
          </dd>
          <dt><span>Owner</span></dt>
          <dd>
            <span>{{ chatRef.owner }}</span>
          </dd>
          <dt><span>Owner Name</span></dt>
          <dd>
            <span>{{ chatRef.ownerName }}</span>
          </dd>
          <dt><span>Binary Data</span></dt>
          <dd>
            <span>{{ chatRef.binaryData }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/chat', chatRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
