<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (course(); as courseRef) {
      <div>
        <h2 data-cy="courseDetailsHeading"><span>Course</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ courseRef.id }}</span>
          </dd>
          <dt><span>Course Name</span></dt>
          <dd>
            <span>{{ courseRef.courseName }}</span>
          </dd>
          <dt><span>Course Code</span></dt>
          <dd>
            <span>{{ courseRef.courseCode }}</span>
          </dd>
          <dt><span>Department</span></dt>
          <dd>
            <span>{{ courseRef.department }}</span>
          </dd>
          <dt><span>Duration</span></dt>
          <dd>
            <span>{{ courseRef.duration }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/course', courseRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
