<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (assignmentFile(); as assignmentFileRef) {
      <div>
        <h2 data-cy="assignmentFileDetailsHeading"><span>Assignment File</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ assignmentFileRef.id }}</span>
          </dd>
          <dt><span>Student Id</span></dt>
          <dd>
            <span>{{ assignmentFileRef.studentId }}</span>
          </dd>
          <dt><span>Assignment Id</span></dt>
          <dd>
            <span>{{ assignmentFileRef.assignmentId }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ assignmentFileRef.name }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ assignmentFileRef.type }}</span>
          </dd>
          <dt><span>File Size</span></dt>
          <dd>
            <span>{{ assignmentFileRef.fileSize }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ assignmentFileRef.createdBy }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ assignmentFileRef.createdAt }}</span>
          </dd>
          <dt><span>Modified At</span></dt>
          <dd>
            <span>{{ assignmentFileRef.modifiedAt }}</span>
          </dd>
          <dt><span>Mime Type</span></dt>
          <dd>
            <span>{{ assignmentFileRef.mimeType }}</span>
          </dd>
          <dt><span>Extension</span></dt>
          <dd>
            <span>{{ assignmentFileRef.extension }}</span>
          </dd>
          <dt><span>Binary Data</span></dt>
          <dd>
            <span>{{ assignmentFileRef.binaryData }}</span>
          </dd>
          <dt><span>Marking Status</span></dt>
          <dd>
            <span>{{
              { null: '', PENDING: 'PENDING', REVIEWED: 'REVIEWED', GRADED: 'GRADED' }[assignmentFileRef.markingStatus ?? 'null']
            }}</span>
          </dd>
          <dt><span>Grade</span></dt>
          <dd>
            <span>{{ assignmentFileRef.grade }}</span>
          </dd>
          <dt><span>Feedback</span></dt>
          <dd>
            <span>{{ assignmentFileRef.feedback }}</span>
          </dd>
          <dt><span>Graded By</span></dt>
          <dd>
            <span>{{ assignmentFileRef.gradedBy }}</span>
          </dd>
          <dt><span>Graded At</span></dt>
          <dd>
            <span>{{ assignmentFileRef.gradedAt }}</span>
          </dd>
          <dt><span>Is Submitted</span></dt>
          <dd>
            <span>{{ assignmentFileRef.isSubmitted }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/assignment-file', assignmentFileRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
