<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading">Create or edit a Course</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_courseName">Course Name</label>
          <input
            type="text"
            class="form-control"
            name="courseName"
            id="field_courseName"
            data-cy="courseName"
            formControlName="courseName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_courseCode">Course Code</label>
          <input
            type="text"
            class="form-control"
            name="courseCode"
            id="field_courseCode"
            data-cy="courseCode"
            formControlName="courseCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_department">Department</label>
          <input
            type="text"
            class="form-control"
            name="department"
            id="field_department"
            data-cy="department"
            formControlName="department"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_duration">Duration</label>
          <input type="text" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
