<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-group-chat-members-heading" data-cy="GroupChatMembersCreateUpdateHeading">Create or edit a Group Chat Members</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_groupChatId">Group Chat Id</label>
          <input
            type="text"
            class="form-control"
            name="groupChatId"
            id="field_groupChatId"
            data-cy="groupChatId"
            formControlName="groupChatId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_memberName">Member Name</label>
          <input
            type="text"
            class="form-control"
            name="memberName"
            id="field_memberName"
            data-cy="memberName"
            formControlName="memberName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_memberUserId">Member User Id</label>
          <input
            type="text"
            class="form-control"
            name="memberUserId"
            id="field_memberUserId"
            data-cy="memberUserId"
            formControlName="memberUserId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
