<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-class-schedule-heading" data-cy="ClassScheduleCreateUpdateHeading">Create or edit a Class Schedule</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_courseId">Course Id</label>
          <input type="text" class="form-control" name="courseId" id="field_courseId" data-cy="courseId" formControlName="courseId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_moduleId">Module Id</label>
          <input type="text" class="form-control" name="moduleId" id="field_moduleId" data-cy="moduleId" formControlName="moduleId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_instructorId">Instructor Id</label>
          <input
            type="text"
            class="form-control"
            name="instructorId"
            id="field_instructorId"
            data-cy="instructorId"
            formControlName="instructorId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_scheduleDate">Schedule Date</label>
          <input
            type="text"
            class="form-control"
            name="scheduleDate"
            id="field_scheduleDate"
            data-cy="scheduleDate"
            formControlName="scheduleDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_scheduleTimeFrom">Schedule Time From</label>
          <input
            type="text"
            class="form-control"
            name="scheduleTimeFrom"
            id="field_scheduleTimeFrom"
            data-cy="scheduleTimeFrom"
            formControlName="scheduleTimeFrom"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_scheduleTimeTo">Schedule Time To</label>
          <input
            type="text"
            class="form-control"
            name="scheduleTimeTo"
            id="field_scheduleTimeTo"
            data-cy="scheduleTimeTo"
            formControlName="scheduleTimeTo"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
