@if (groupChatMembers) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(groupChatMembers.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="groupChatMembersDeleteDialogHeading">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-groupChatMembers-heading">Are you sure you want to delete Group Chat Members {{ groupChatMembers.id }}?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button id="jhi-confirm-delete-groupChatMembers" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span>Delete</span>
      </button>
    </div>
  </form>
}
