<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-file-heading" data-cy="FileCreateUpdateHeading">Create or edit a File</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_folderId">Folder Id</label>
          <input type="text" class="form-control" name="folderId" id="field_folderId" data-cy="folderId" formControlName="folderId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fileSize">File Size</label>
          <input type="number" class="form-control" name="fileSize" id="field_fileSize" data-cy="fileSize" formControlName="fileSize" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <input type="text" class="form-control" name="createdAt" id="field_createdAt" data-cy="createdAt" formControlName="createdAt" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedAt">Modified At</label>
          <input
            type="text"
            class="form-control"
            name="modifiedAt"
            id="field_modifiedAt"
            data-cy="modifiedAt"
            formControlName="modifiedAt"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mimeType">Mime Type</label>
          <input type="text" class="form-control" name="mimeType" id="field_mimeType" data-cy="mimeType" formControlName="mimeType" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_extension">Extension</label>
          <input type="text" class="form-control" name="extension" id="field_extension" data-cy="extension" formControlName="extension" />
        </div>

        @let binaryDataRef = editForm.get('binaryData')!;
        <div class="mb-3">
          <label class="form-label" for="field_binaryData">Binary Data</label>
          <div>
            @if (binaryDataRef.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('binaryDataContentType')!.value }}, {{ byteSize(binaryDataRef.value!) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ binaryData: undefined, binaryDataContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input type="file" id="file_binaryData" data-cy="binaryData" (change)="setFileData($event, 'binaryData', false)" />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="binaryData"
            id="field_binaryData"
            data-cy="binaryData"
            formControlName="binaryData"
          />
          <input
            type="hidden"
            class="form-control"
            name="binaryDataContentType"
            id="field_binaryDataContentType"
            formControlName="binaryDataContentType"
          />
          @if (binaryDataRef.invalid && (binaryDataRef.dirty || binaryDataRef.touched)) {
            <div>
              @if (editForm.get('binaryData')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
