<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (resourceBooking(); as resourceBookingRef) {
      <div>
        <h2 data-cy="resourceBookingDetailsHeading"><span>Resource Booking</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ resourceBookingRef.id }}</span>
          </dd>
          <dt><span>User Id</span></dt>
          <dd>
            <span>{{ resourceBookingRef.userId }}</span>
          </dd>
          <dt><span>Start Time</span></dt>
          <dd>
            <span>{{ resourceBookingRef.startTime }}</span>
          </dd>
          <dt><span>End Time</span></dt>
          <dd>
            <span>{{ resourceBookingRef.endTime }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{
              { null: '', PENDING: 'PENDING', APPROVED: 'APPROVED', REJECTED: 'REJECTED', CANCELLED: 'CANCELLED' }[
                resourceBookingRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Reason</span></dt>
          <dd>
            <span>{{ resourceBookingRef.reason }}</span>
          </dd>
          <dt><span>Admin Comment</span></dt>
          <dd>
            <span>{{ resourceBookingRef.adminComment }}</span>
          </dd>
          <dt><span>Resource</span></dt>
          <dd>
            @if (resourceBooking()!.resource) {
              <div>
                <a [routerLink]="['/resource', resourceBooking()!.resource?.id, 'view']">{{ resourceBookingRef.resource?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/resource-booking', resourceBookingRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
