<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-chat-heading" data-cy="ChatCreateUpdateHeading">Create or edit a Chat</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_contactId">Contact Id</label>
          <input type="text" class="form-control" name="contactId" id="field_contactId" data-cy="contactId" formControlName="contactId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contact">Contact</label>
          <input type="text" class="form-control" name="contact" id="field_contact" data-cy="contact" formControlName="contact" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_unreadCount">Unread Count</label>
          <input
            type="text"
            class="form-control"
            name="unreadCount"
            id="field_unreadCount"
            data-cy="unreadCount"
            formControlName="unreadCount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_muted">Muted</label>
          <input type="checkbox" class="form-check" name="muted" id="field_muted" data-cy="muted" formControlName="muted" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <input type="text" class="form-control" name="createdAt" id="field_createdAt" data-cy="createdAt" formControlName="createdAt" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_owner">Owner</label>
          <input type="text" class="form-control" name="owner" id="field_owner" data-cy="owner" formControlName="owner" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ownerName">Owner Name</label>
          <input type="text" class="form-control" name="ownerName" id="field_ownerName" data-cy="ownerName" formControlName="ownerName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_binaryData">Binary Data</label>
          <input
            type="text"
            class="form-control"
            name="binaryData"
            id="field_binaryData"
            data-cy="binaryData"
            formControlName="binaryData"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
