<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-resource-booking-heading" data-cy="ResourceBookingCreateUpdateHeading">Create or edit a Resource Booking</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_startTime">Start Time</label>
          <input type="text" class="form-control" name="startTime" id="field_startTime" data-cy="startTime" formControlName="startTime" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endTime">End Time</label>
          <input type="text" class="form-control" name="endTime" id="field_endTime" data-cy="endTime" formControlName="endTime" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (status of statusValues; track $index) {
              <option [value]="status">
                {{ { null: '', PENDING: 'PENDING', APPROVED: 'APPROVED', REJECTED: 'REJECTED', CANCELLED: 'CANCELLED' }[status] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_reason">Reason</label>
          <input type="text" class="form-control" name="reason" id="field_reason" data-cy="reason" formControlName="reason" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_adminComment">Admin Comment</label>
          <input
            type="text"
            class="form-control"
            name="adminComment"
            id="field_adminComment"
            data-cy="adminComment"
            formControlName="adminComment"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_resource">Resource</label>
          <select
            class="form-control"
            id="field_resource"
            data-cy="resource"
            name="resource"
            formControlName="resource"
            [compareWith]="compareResource"
          >
            <option [ngValue]="null"></option>
            @for (resourceOption of resourcesSharedCollection; track $index) {
              <option [ngValue]="resourceOption">{{ resourceOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
